@model IEnumerable<WebApplicationBiblioteca.Models.Livro>
@{
    ViewBag.Title = "Index";
}

<h2>Livros Cadastrados Na  Biblioteca</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor.Nome)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor.Nome)
        </td>
    </tr>
    }
</table>
<p>

    @Html.ActionLink("Voltar", "Create", new { id = 1 }, new { @class = "btn btn-success" })
</p>