@model IEnumerable<WebApplicationBiblioteca.Models.Autor>
@{
    ViewBag.Title = "Autores";
}
<h2>Autores Cadastrados Na  Biblioteca</h2>

<p>
    @Html.ActionLink("Cadastrar Novo Autor", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            Opções
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>



                @Html.ActionLink("Excluir", "Delete", new { id = item.AutorId }, new { @class = "btn btn-success" })

               
                @Html.ActionLink("Voltar", "Create", new { id = item.AutorId }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }
</table>
