@model IEnumerable<WebApplicationBiblioteca.Models.Emprestimo>
@{
    ViewBag.Title = "Livros Emprestados";
}
<h2 style="color:aliceblue">Emprestimos Da  Biblioteca</h2>


<table class="table" style="color:aliceblue">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Livro.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PessoaEmprestimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEmprestimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDevolucao)
        </th>
        <th style="color:aliceblue">
            Opções
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Livro.Titulo)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.PessoaEmprestimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEmprestimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDevolucao)
        </td>
        <td>

            @Html.ActionLink("Excluir", "Delete", new { id = item.EmprestimoId }, new { @class = "btn btn-success" })

        </td>

    </tr>
    }
</table>
<div>

    @Html.ActionLink("Voltar", "Create", new { id = 1 }, new { @class = "btn btn-success" })
</div>
